//---컬러지정
$mainColor:rgb(209, 241, 255);
$baseBlackColor:rgb(0, 53, 100);
$baseBlackColorOpacity80:rgba(17, 17, 17, 0.618);
$baseDarkGrayColor:#333;
$baseLightGrayColor:rgb(179, 179, 179);
$baseWhiteColor:rgb(244, 244, 244);